<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>RekenMachine</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->

<!--</head>-->
<!--<body>-->
<!--<div id ="wrapper">-->
<!--    <p> WELCOME TO 42 CALCULATE </p>-->


<!--        <form>-->
<!--            Number I:<br />-->
<!--            <input type="text" name="t1" />-->
<!--            <br /><br />-->
<!--            Number II:<br />-->
<!--            <input type="text" name="t2" />-->

<!--            <br /><br />-->
<!--            <input type="radio" name="mathType" value="pluss"/> Pluss<br/>-->
<!--            <input type="radio" name="mathType" value="dele"/> Dele-->
<!--            <br /><br />-->
<!--            <input type="submit" value="ReKen" />-->
<!--            <div th:if="${svar} != null">-->
<!--                <p th:text= "'Result : ' + ${svar}"/>-->
<!--            </div>-->
<!--        </form>-->

<!--</div>-->
<!--</body>-->